@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.produk-title {
  font-size: 15px;
  color: #32393a;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 4px;
  font-weight: 600;
}

.card-produk {
  cursor: pointer;
}

/*.card-produk:hover {
    border: 1px solid #e4002c;
}*/

.card-figure {
  width: 100%;
  height: 256px;
  overflow: hidden;
  position: relative;
}

.card-figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.price-produk {
  color: #32393a;
  font-size: 16px;
  font-weight: 600;
}

.span-lelang {
  font-size: 14px;
  color: #8D99AE;
}

.kategori-produk {
  text-transform: capitalize;
  color: #7a888a;
  font-size: 13px;
}

.section-title {
  display: inline-block;
  text-transform: uppercase;
  margin: 0px;
}

