.products-grid-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 12px;
    max-width: 800px;
    margin: 0 auto 24px auto;
    /* border: 1px solid red; */
}

.products-grid-header .search-input {
    min-width: 180px;
    max-width: auto;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #000000;
}

.products-grid-header .d-flex {
    display: flex;
    gap: 5px;
}

.products-grid-header .btn {
    border-radius: 10px;
    border: 1px solid #000000;
    color: #000000;
    font-weight: 500;
    transition: background 0
    .15s, color 0.15s, border 0.15s;
}

.products-grid-header .btn:hover, 
.products-grid-header .btn:focus {
    background: #051A36;
    color: #fff;
    border-color: #051A36;
}

.products-grid-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #ff0000; */
}

/* Card style */
.card.product-card {
    border-radius: 10px;
    min-height: 150px;
    border: 1px solid #000000;
    box-shadow: 2px 2px 5px rgba(26, 1, 1, 0.13);
    cursor: pointer;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 8px 6px;
    margin-left: 10px;
}

.product-title,
.product-price {
    font-size: 0.95rem;
}

.cell.span-2 {
    grid-column: span 2;
}

@media (max-width: 991.98px) {
    .products-grid-parent {
        grid-template-columns: 1fr 1fr;
    }
    .cell.span-2 {
        grid-column: span 2;
    }
}
@media (max-width: 575.98px) {
    .products-grid-parent {
        grid-template-columns: 1fr;
    }
    .cell.span-2 {
        grid-column: span 1;
    }
}
