/* Container */
.panduan-container {
    padding-top: 50px;
    padding-bottom: 80px;
}

/* Sidebar */
.panduan-sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid #051a36;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.panduan-sidebar .nav-link {
    padding: 20px 15px;
    border-bottom: 1px solid #051a36;
    text-align: center;
    color: #051a36;
    background: #fff;
    transition: 0.3s;
}

.panduan-sidebar .nav-link:hover {
    background: #f4f4f4;
}

.panduan-sidebar .nav-link.active {
    background: #051a36;
    color: #fff !important;
    font-weight: bold;
}

/* Card Utama */
.panduan-card {
    border: 1px solid #000;
    border-radius: 8px;
    background: #fff;
}

/* Header */
.panduan-card-header {
    border-bottom: 1px solid #000;
    padding: 20px;
}

#panduanTitle {
    font-family: Helvetica;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
}

/* PDF Container */
#pdfContainer {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    background: #f8f9fa;
    overflow: hidden;
    border-radius: 4px;
}

/* Frame */
.pdf-frame {
    width: 100%;
    height: 100%;
    border: none;

    /* FIX: iframe tidak menutupi sidebar */
    position: relative;
    z-index: 1;
}

/* Alert Ketika File Tidak Ada */
#noPdfMessage {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
