.address-item {
    cursor: pointer;
    transition: 0.2s;
}
.address-item:hover {
    background: #f8f9fa;
}

.address-card {
    border: 2px solid #001f3f !important; /* NAVY */
    border-radius: 14px;
    transition: 0.2s ease;
    cursor: pointer;
}

.address-card:hover {
    background: #f7f9ff;
    transform: scale(1.01);
}

.address-card.selected {
    background: #e5edff;
    border-color: #001a35 !important;
}

.pilihAlamatBtn {
    padding: 4px 12px;
    border-radius: 8px;
}

.address-card input[type="radio"] {
    transform: scale(1.2);
    cursor: pointer;
}

#address-list {
    max-height: 400px;
    overflow-y: auto;
}

.modal-lg {
    max-width: 700px;
}

#addAddressModal .form-control {
    margin-bottom: 10px;
}

#addAddressModal textarea {
    resize: none;
}