.status-page {
    max-width: 1100px;
    margin: 60px auto;
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER */
.status-header {
    text-align: center;
    margin-bottom: 30px;
}

.status-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #051A36;
    color: #fff;
    font-size: 50px;
    line-height: 61px;
    margin: 0 auto 20px;
}

.status-title {
    font-size: 34px;
    font-weight: 700;
}

.status-desc {
    font-size: 16px;
    color: #555;
}

.note-box {
    max-width: 1200px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #828282;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    padding: 16px;
    text-align: left;
    margin-bottom: 30px;
}

/* INFO BOX */
.info-box {
    max-width: 1200px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #828282;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    margin-bottom: 30px;
}

.info-item {
    padding: 20px;
    text-align: center;
}

.info-label {
    font-size: 16px;
    font-weight: 700;
}

.info-value {
    font-size: 14px;
    color: #828282;
}

/* SECTION */
.section-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: none;
}

/* PRODUCT */
.product-box {
    border: 1px solid #828282;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    padding: 30px;
}

.product-row {
    display: flex;
    align-items: flex-start;
}

.product-img {
    max-width: 150px;
    height: auto;
    margin-right: 25px;
}

.product-info {
    flex: 1;
}

.product-name {
    font-size: 18px;
    font-weight: 600;
}

.product-variant,
.product-qty {
    font-size: 14px;
    color: #828282;
}

.product-price {
    font-size: 16px;
    font-weight: 700;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

/* SUMMARY */
.summary-row,
.total-row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 10px;
}

.total-row {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

/* ACTION */
.action-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
}

.btn-main {
    background: #051A36;
    color: #fff;
    padding: 18px 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-text {
    background: none;
    border: none;
    padding: 0;
    color: #051A36;
    font-size: 16px;
    cursor: pointer;
}

.btn-text:hover {
    text-decoration: underline;
}
