@media (max-width: 576px) {

    .main-fav-container {
        max-height: 633px !important;
        height: 600px !important;
        overflow-y: auto !important;
    }
    /* tinggi card body */
    .fav-card-body {
        height: 600px !important;
    }

    /* tinggi gambar */
    .fav-img {
        height: 124px !important;
        object-fit: cover !important;
    }

    /* nama produk */
    .fav-title {
        font-size: 14px !important;
        font-weight: 500;
        line-height: 1.3;
    }

    /* stok */
    .fav-stock {
        font-size: 12px !important;
        line-height: 1.3;
    }

    /* harga */
    .fav-price {
        font-size: 16px !important;
        font-weight: 700;
        color: #58BCC2 !important;
        line-height: 1.3;
    }
}
